<!DOCTYPE html>
{% load static %}
{% load meus_filtros %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Demanda</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'produtos_demanda' %}">Demanda de Produtos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <br>

        </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5 style="text-align:center">Cadastrar Produtos</h5>
                    <hr>

                    <form method="post"">
                        {% csrf_token %}
                        <div class=" form-group">
                        <label>Nome: </label>
                        {{ form_produtos.nome|addclass:'form-control' }}
                        <label>Tipo: </label>
                        {{ form_produtos.tipo|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <label>Marca: </label>
                    {{ form_produtos.marca|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <label>Tamanho: </label>
                    {{ form_produtos.tamanho|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <label>Quant: </label>
                    {{ form_produtos.quantidade|addclass:'form-control' }}
                </div>
                <div class="form-group">
                    <input class="btn btn-light" type="submit" value="Salvar">
                </div>
                </form>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100" style="overflow-y:auto">
                <h5 style="text-align:center">Produtos Salvos</h5>
                    <hr> 
                <div class="table-responsive-lg" style="overflow-x:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id='colName'scope="col">Nome</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Tam</th>
                                <th scope="col">Quant</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produto %}
                            <tr>
                                <th scope="row">{{produto.nome}}</th>
                                <td>{{produto.get_tipo_display}}</td>
                                <td>{{produto.marca}}</td>
                                <td>{{produto.tamanho}}</td>
                                <td>{{produto.quantidade}}</td>
                                <form action='{{produto.id}}' method="GET">
                                {% csrf_token %}
                                <td>
                                <button class="btn btn-danger" type="submit" name="delete_produto" value="{{produto.id}}">X</button>
                                </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>